
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-area{
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
#nav-area .navbar{
    display: flex;
    align-items: center;
    height: 100%;
}
#nav-area .navbar .nav-list li a{
    text-decoration: none;
    color: black;
}
#nav-area .nav-list ul{
    list-style-type: none;
    font-family: "Poppins",sans-serif;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
#nav-area .right{
    display: flex;
    gap: 10px;
}
#nav-area input[type="search"]{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 3px 3px;
    width: 60%;
    background-color: rgb(252, 252, 245);
}

#nav-area .right .heart,.shop{
    position: relative;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgb(240, 231, 231);
    width: 30px;
    height: 30px;
}
#nav-area .nav-list ul .latest{
    position: relative;
}
#nav-area .nav-list .latest span{
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 8px;
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 2px;
}
#nav-area .right .heart span,.shop span{
    position: absolute;
    top: -5px;
    font-size: 8px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    width: 15px;
    height: 15px;
}
#nav-area .right .sign-in{
    background-color: blue;
    width: 80px;
    padding: 3px;
    text-align: center;
    border-radius: 30px;
}
#nav-area .right .sign-in a{
    text-decoration: none;
    color: white;
}
.respo{
    background-color: rgb(48, 47, 47);
    width: 976px;
    position: relative;
    height: 40px;
}
#nav-area .menu{
    position: absolute;
    right: 40px;
    margin-top: 3px;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 2px;
    padding: 2px;
    height: 30px;
}
.respo{
    display: none;
}
@media(max-width:976px) {
    .respo{
        display: block;
        width: 900px;
        margin-left: 20px;
        margin-top: -20px;
        cursor: pointer;        
}
input[type="search"],.heart,.sign-in,.nav-list{
    display: none;
}
.shop{
    margin-right: 20px;
}
.logo{
    margin-left: 20px;
}
}