
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-area{
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
#nav-area .navbar{
    display: flex;
    align-items: center;
    height: 100%;
}
#nav-area .navbar .nav-list li a{
    text-decoration: none;
    color: black;
}
#nav-area .nav-list ul{
    list-style-type: none;
    font-family: "Poppins",sans-serif;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
#nav-area .right{
    display: flex;
    gap: 10px;
}
#nav-area input[type="search"]{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 3px 3px;
    width: 60%;
    background-color: rgb(252, 252, 245);
}

#nav-area .right .heart,.shop{
    position: relative;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgb(240, 231, 231);
    width: 30px;
    height: 30px;
}
#nav-area .nav-list ul .latest{
    position: relative;
}
#nav-area .nav-list .latest span{
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 8px;
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 2px;
}
#nav-area .right .heart span,.shop span{
    position: absolute;
    top: -5px;
    font-size: 8px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    width: 15px;
    height: 15px;
}
#nav-area .right .sign-in{
    background-color: blue;
    width: 80px;
    padding: 3px;
    text-align: center;
    border-radius: 30px;
}
#nav-area .right .sign-in a{
    text-decoration: none;
    color: white;
}
#nav-area .respo{
    background-color: rgb(48, 47, 47);
    width: 976px;
    position: relative;
    height: 40px;
    display: none;
}
#nav-area .menu{
    position: absolute;
    right: 40px;
    margin-top: 3px;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 2px;
    padding: 2px;
    height: 30px;
}
@media(max-width:1000px) {
    #nav-area .right .heart{
        display: none;
    }
}
@media(max-width:976px) {
    #nav-area .respo{
        display: block;
        width: 900px;
        margin-left: 20px;
        margin-top: -20px;
        cursor: pointer; 
}
input,.heart,.nav-list,.sign-in{
    display: none;
}
.shop{
    margin-right: 20px;
}
.logo{
    margin-left: 20px;
}
}
/* header son */

/* main başlanğıc */
#main-area{
    background-color: aqua;
    height: 500px;
}
#main-area img{
    width: 100%;
    height: 500px;
}
#main-area .text{
    width: 400px;
    height: 100%;
}
#main-area .text .discount{
    color: #2577F9;
    font-size: 30px;
    font-family: 'YellowTail',sans-serif;
}
#main-area .text h1{
    font-family: 'Playfair',sans-serif;
    font-size: 70px;
    font-weight: 40px;
}
#main-area .text .text-cloth{
    font-family: 'Playfair',sans-serif;
    font-style: italic;

}
#main-area .main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
#main-area .main .text .button{
    background-color: #2577F9;
    color: whitesmoke;
    border-radius: 30px;
    border: none;
    width: 100px;
    cursor: pointer;
    padding: 9px 9px;
}
@media(max-width:1200px){
    .text{
        display: block;
        text-align: center;
        margin-top: 90px;
    }
    .main-img{
        display: none;
    }
}